/*######## BASE #########*/
#wallet{
    display: block;
    opacity: 1;
}
/*######## ELEMENTI #########*/

  /*### wallet ###*/
  #wallet{
    padding-left: 1em;
  }
  /*profile*/
  #profile, #profile2{
    display: flex;
    position: absolute;
    top:1em;
    right:1em;
    cursor: pointer;
  }
  #profile > img, #profile2 > img{
    height: 30px;
    border-radius: 15px;
    padding-left:.3em;
  }
  /*title*/
  #apptitle{
    margin-bottom: 0.5em;
    font-weight:400;
    font-size: 3em;
    position: relative;
    cursor: default;
    animation: titlein 1s cubic-bezier(0, 0, 0, 1);
  }
  @keyframes titlein {
    0%{left: -5em;}
    100%{left: 0em;}
  }
  #apptitle > b {
    color: var(--theme-textcolor);
    font-weight:900;
  }
  /*cards*/
  .cardholder{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  .card{
    margin-left:0.8em;
    margin-top: 1em;
    margin-right:1.2em;
    padding:0.5em;
    box-shadow: 2px 2px 25px;
    border: none;
    border-radius: .50rem;
    background-size: cover;
    background-position: center;
    cursor: pointer;
    transition: 0.3s all;
  }
  .card:hover{
    box-shadow: 3px 3px 50px;
  }
  .cardholder > .card:nth-child(1){
    margin-top:.4em;
    margin-bottom:.3em;
  }
  .card > p:nth-child(1){
    color:white;
    font-size: 1.5em;
    font-weight:900;
    margin-bottom: 0;
    text-shadow: 1px 2px 7px #00000020;
  }
  .card > p:nth-child(2){
    color:white;
    font-family: var(--bs-font-sans-serif);
    font-size: 1em;
    text-shadow: 1px 2px 7px #00000020;
  }
  hr{
    width: 94%;
      height: 1.5px!important;
      background-image: linear-gradient(
  168deg, transparent, #00000078, transparent);
      color: transparent;
      margin: 0.8em;
      margin-bottom: 1.2em;
  }
  .card.gate{
    box-shadow: 3px 3px 50px rgba(0, 0, 0, 0.164);
  }
  .card.gate > h2{
    font-size: 1.4em;
    background-color: transparent;
    padding: .2em;
    border-radius: 7px;
    transition: .5s all;
  }
  .card.gate > h2.requested{
    background-color: rgb(70 233 144 / 52%);
  }
  /*### documents ###*/
  #documents{
    padding-left: 1em;
  }
  /*logo*/
  #logo{
    display: flex;
    position: absolute;
    top:1em;
    right:1em;
  }
  #logo > img{
    height: 50px;
    border-radius: 15px;
    padding-left: .3em;
    margin-top: -.25em;
  }
  #logo > p {
    font-size: 1.8em;
    padding-right: 0.3em;
  }
  #logo > p > b {
    color: var(--theme-textcolor);
    font-weight:900;
  }
  /*######## DISPLAY #########*/
  #display{
    display: none;
    position: absolute;
    height: 100%;
    width: 100%;
    top:0;
    left:0;
    background-color: #f5f5f5;
  }
  #display.show{
    display: block;
  }

  /*######## DOC CONTAINER #########*/
  #display > h1{
    height: 10%;
    padding:0.4em;
    margin: 0;
  }
  #doccontainer{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    height: 90%;
    width:100%;
    overflow: hidden;
  }
  #doccontainer > div{
    font-size: 3em;
    font-weight: 900;
    color:white;
    padding: 1em;
    padding-top: 1em;
    display: flex;
    justify-content: center;
    align-items: center; 
  }
  /*COLORI*/
  #doccontainer>div.id,#doccontainer.id{
    background-color: rgb(173, 166, 62);
  }
  #doccontainer>div.pasp,#doccontainer.pasp{
    background-color: rgb(61, 20, 14);
  }
  #doccontainer>div.ticket,#doccontainer.ticket{
    background-color: rgb(68, 68, 68);
  }
  #doccontainer>div.visa,#doccontainer.visa{
    background-color: teal;
  }
  #doccontainer>div.green,#doccontainer.green{
    background-color: rgb(78, 216, 36);
  }
  #doccontainer>div.swab,#doccontainer.swab{
    background-color: rgb(175, 57, 112);
  }

  /*DIMENSIONI*/
  #doccontainer > div:first-child:nth-last-child(n + 1),
  #doccontainer > div:first-child:nth-last-child(n + 1) ~ div{
    width: 100%;
    height: 100%;
  }
  #doccontainer > div:first-child:nth-last-child(n + 2),
  #doccontainer > div:first-child:nth-last-child(n + 2) ~ div{
    width: 50%;
    height: 100%;
  }
  #doccontainer > div:first-child:nth-last-child(n + 3),
  #doccontainer > div:first-child:nth-last-child(n + 3) ~ div{
    width: 50%;
    height: 50%;
  }
  #doccontainer > div:first-child:nth-last-child(n + 4),
  #doccontainer > div:first-child:nth-last-child(n + 4) ~ div{
    width: 50%;
    height: 50%;
  }
  #doccontainer > div:first-child:nth-last-child(n + 5),
  #doccontainer > div:first-child:nth-last-child(n + 5) ~ div{
    width: 33.333%;
    height: 50%;
  }
  #doccontainer > div:first-child:nth-last-child(n + 6),
  #doccontainer > div:first-child:nth-last-child(n + 6) ~ div{
    width: 33.333%;
    height: 50%;
  }
  